### 표본추출/샘플링
- 전체 데이터에서 일부 데이터를 추출
- pandas.DataFrame.sample() 메서드
- 복원 추출 -> 추출된 데이터를 다시 추가해서 추출하는 방식
- 비복원 추출 : 추출된 데이터를 제거 후 남은 데이터에서 추출하는 방식

In [1]:
import pandas as pd

In [3]:
# 임의의 데이터 생성
dataDF = pd.DataFrame({'kor':[10,20,30],
                        'math':[11,22,33],
                        'eng':[111,222,333]})
dataDF

   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333

In [14]:
# 1 개의 샘플/표본 데이터 추출 => [기본, 비복원] ▶ 전체 데이터 수 초과 X / [설정] 복원 ▶ 매개변수 True 설정.
# 추출 기준 축(axis)로 설정.
for cnt in range(1,6) : 
    print(f'[{cnt}번]')
    print(dataDF.sample(n=3)) # 중복 상관 없이 5번 뽑아서 출력.
    #print(dataDF.sample(n=2, axis ='columns')) # 중복 상관 없이 컬럼 2개씩 추출 * 5
    #print(dataDF.sample(n=4, axis ='columns')) # 중복 상관 없이 컬럼 2개씩 추출 * 5 ▶ 전체 데이터 수 초과 不可

[1번]
   kor  math  eng
1   20    22  222
2   30    33  333
0   10    11  111
[2번]
   kor  math  eng
1   20    22  222
0   10    11  111
2   30    33  333
[3번]
   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333
[4번]
   kor  math  eng
1   20    22  222
0   10    11  111
2   30    33  333
[5번]
   kor  math  eng
2   30    33  333
1   20    22  222
0   10    11  111

In [ ]:
# 1 개의 샘플/표본 데이터 추출 => [기본, 비복원] ▶ 전체 데이터 수 초과 X / [설정] 복원 ▶ 매개변수 True 설정.
# 추출 기준 축(axis)로 설정.
for cnt in range(1,6) : 
    print(f'[{cnt}번]')
    #print(dataDF.sample(n=2) # 중복 상관 없이 5번 뽑아서 출력.
    print(dataDF.sample(n=2, axis ='columns')) # 중복 상관 없이 컬럼 2개씩 추출 * 5



    #print(dataDF.sample(n=4, axis ='columns')) # 중복 상관 없이 컬럼 2개씩 추출 * 5 ▶ 전체 데이터 수 초과 不可