*¨✼•.¸¸.•ᓭི༏ᓯྀ*¨✼•.¸¸.•ᓭི༏ᓯྀ*¨✼•.¸¸.•ᓭི༏ᓯྀ•.¸¸.•✼*¨*

## [ 중복 데이터 처리 ]
- 중복 데이터 기준 == 행(row)
- 행 단위로 모든 컬럼의 값이 완전히 똑같은 데이터를 중복 데이터라고 한다.
- 보통 제거 처리!

*¨✼•.¸¸.•ᓭི༏ᓯྀ*¨✼•.¸¸.•ᓭི༏ᓯྀ*¨✼•.¸¸.•ᓭི༏ᓯྀ•.¸¸.•✼*¨*

(1) 모듈로딩 <hr>

In [6]:
import pandas as pd

(2) 데이터 준비 <hr>

In [7]:
file = '../DATA/employees.csv'

(3) 데이터 저장 : CSV -> DF <hr>

In [8]:
empDF = pd.read_csv(file)

(4) 데이터 확인<hr>

In [9]:
empDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    object
 3   Salary      999 non-null    float64
 4   Mgmt        933 non-null    object
 5   Team        957 non-null    object
dtypes: float64(1), object(5)
memory usage: 47.0+ KB

(5) 데이터 전처리 => 나. 중복 데이터 처리.

- 중복 데이터 체크 => duplicated() : 중복이면 True
- 중복 데이터 처리 => drop_duplicated() : 삭제

In [12]:
# 행단위로 완전히 일치하는 행 검사 => 0개
empDF.duplicated().sum()

0

In [13]:
# Team 컬럼 검사

In [17]:
empDF.Team.duplicated().sum() # 개수 확인 : Team 항목에서 값이 서로 일치하는 건수는 990건이다.

990

In [19]:
empDF.Team.nunique() #고유값의 개수

10

In [22]:
empDF.Team.drop_duplicates()

0        Marketing
1              NaN
2          Finance
4               IT
5            Legal
6          Product
8      Engineering
9     Business Dev
12              HR
13           Sales
40    Distribution
Name: Team, dtype: object

In [23]:
empDF.Team.drop_duplicates(keep=False)

Series([], Name: Team, dtype: object)

꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒷꒦꒷꒦꒷꒷꒦꒷꒦꒷

════════ ೋღ 🌺 ღೋ ════════