# 2. Series 객체

In [297]:
# 0112

2.1 Series의 개요

In [298]:
import pandas as pd
import numpy as np

2.1.1 클래스 및 인스턴스

In [299]:
pd.Series()

Series([], dtype: object)

2.1.2 Series 값 채우기

In [300]:
ice_cream_flavors =[
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]
pd.Series(ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [301]:
# 다음 두 줄은 결과가 동일합니다.
pd.Series(ice_cream_flavors)
pd.Series(data = ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

2.1.3 Series 인덱스 사용자 정의

In [302]:
days_of_week = ("Monday", "Wednesday", "Friday", "Saturday")

In [303]:
# 다음 두 줄은 결과가 동일합니다.
pd.Series(ice_cream_flavors, day_of_week)
pd.Series(data = ice_cream_flavors, index = days_of_week) #인덱스에 요일 데이터를 부여.

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [304]:
days_of_week = ("Monday", "Wednesday", "Friday", "Wednesday") # 중복 허용.

In [305]:
# 다음 두 줄은 결과가 동일합니다.
pd.Series(ice_cream_flavors, day_of_week)
pd.Series(data = ice_cream_flavors, index = days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

In [306]:
bunch_of_bools=[True, False, False]
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

In [307]:
stock_prices = [985.32, 950.44]
time_of_day = ['Open', 'Close']
pd.Series(data=stock_prices, index = time_of_day)

Open     985.32
Close    950.44
dtype: float64

In [308]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [309]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers, dtype = "float") #dtype 매개 변수를 사용하면 형 변환 가능.

0     4.0
1     8.0
2    15.0
3    16.0
4    23.0
5    42.0
dtype: float64

2.1.4 결측값이 있는 Series 생성

In [310]:
temperatures = [ 94, 88, np.nan, 91 ] #numpy.nan = 은 결측값. 값이 비어 있음.
pd.Series(data = temperatures)

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

2.2 파이썬 객체에서 Series 생성
dict : 키 - 쌍의 모음.

In [311]:
calorie_info = {
    "Cereal" : 125,
    "Chocolate Bar" : 406,
    "Ice Cream Sundae" : 342,
}
diet = pd.Series(calorie_info)
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

tuple : 변경할 수 없는 리스트

In [312]:
pd.Series(data = ("Red", "Green", "Blue"))

0      Red
1    Green
2     Blue
dtype: object

In [313]:
rgb_color = [(120, 41, 26), (196, 165, 45)] 
# Series를 생성하기 위해서는 튜플을 리스트로 감싸야 함.
# 튜플은 주소 및 요소로 구성된 행의 값을 나타낼 때 적합.
pd.Series(data = rgb_color)

0     (120, 41, 26)
1    (196, 165, 45)
dtype: object

set은 순서가 없는 고유한 값의 컬렉션

In [314]:
my_set = {"Ricky", "Bobby"}
#pd.Series(my_set) #TypeError 발생, 
pd.Series(list(my_set)) #set를 Series 생성자에 전달하기 전 정렬된 자료 구조(튜플, 리스트 등)로 변환.

0    Ricky
1    Bobby
dtype: object

In [315]:
pd.Series(tuple(my_set))

0    Ricky
1    Bobby
dtype: object

In [316]:
random_data = np.random.randint(1, 101, 10) 
#np의 randint 함수로 1부터 100 사이의 수를 10개 생성.
random_data

array([49, 47, 93, 36, 46,  2, 23, 10, 94,  6])

In [317]:
pd.Series(random_data)

0    49
1    47
2    93
3    36
4    46
5     2
6    23
7    10
8    94
9     6
dtype: int32

2.3 Series의 속성

In [318]:
calorie_info

{'Cereal': 125, 'Chocolate Bar': 406, 'Ice Cream Sundae': 342}

In [319]:
pd.Series(calorie_info)

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [320]:
diet.values # Series의 데이터 값 반환

array([125, 406, 342], dtype=int64)

In [321]:
type(diet.values)

numpy.ndarray

In [322]:
diet.index # Series의 인덱스 값 반환

Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [323]:
type(diet.index)

pandas.core.indexes.base.Index

In [324]:
diet.dtype # 시리즈의 데이터 타입을 반환합니다

dtype('int64')

In [325]:
diet.size #시리즈의 원소 개수를 반환합니다.

3

In [326]:
diet.shape #시리즈의 차원을 반환합니다.

(3,)

In [327]:
diet.is_unique # 중복 항목이 없으면 True, 있으면 False

True

In [328]:
pd.Series(data = [3, 3]).is_unique

False

In [329]:
#pd.Series(data = [1, 3, 6]).is_monotonic ====> 더 이상 지원 X

In [330]:
pd.Series(data = [1, 3, 6]).is_monotonic_decreasing

False

In [331]:
pd.Series(data = [1, 3, 6]).is_monotonic_increasing

True

2.4 첫 번째 행과 마지막 행 검색
- 속성 : 객체, 자료구조가 자체적으로 나타낼 수 잇는 특성 or 세부사항.(객체의 상태 정의)
- 메서드 : 객체에서 수행할 수 있는 작업이나 명령. 객체 속성의 일부를 분석, 계산하거나 조작(객체의 동작 정의)

In [332]:
values = range(0, 500, 5) #0에서 449까지 5씩 증가하는 범위
nums = pd.Series(data = values) #Series 생성.
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [333]:
nums.head(3) #위에서부터 5줄 출력

0     0
1     5
2    10
dtype: int64

In [334]:
nums.head(n = 3)

0     0
1     5
2    10
dtype: int64

In [335]:
nums.head() #기본적으로 5행 반환

0     0
1     5
2    10
3    15
4    20
dtype: int64

In [336]:
nums.tail(6) #아래에서부터 6행 반환

94    470
95    475
96    480
97    485
98    490
99    495
dtype: int64

In [337]:
nums.tail #기본값으로 5 설정.

<bound method NDFrame.tail of 0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64>

2.5 수학 연산

2.5.1. 통계 연산

In [338]:
numbers = pd.Series([1,2,3, np.nan, 4, 5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [339]:
numbers.count() # null이 아닌 값의 개수를 계산

5

In [340]:
numbers.sum() # Series의 값을 모두 더합니다.

15.0

- 대부분의 수학적 메서드는 기본적으로 결측값 무시.
- skipna 매개 변수에 =False를 전달하면 강제로 결측값 포함.

In [341]:
numbers.sum(skipna = False) #알수없는 nan값을 포함할 수 없어서 반환값 nan

nan

In [342]:
numbers.sum(min_count = 3) #sum 메서드의 min_count 매개변수는 Series가 보유해야 하는 유효한 값의 최소 개수를 설정.
#numbers가 값을 3개 이상 갖고 있으면 합계를 반환.

15.0

In [343]:
numbers.sum(min_count = 6) #numbers의 유효한 값은 5개이므로 조건을 충족하지 못해 nan을 반환

nan

In [344]:
numbers.product() #product() 변수는 Series의 모든 값을 곱한다.

120.0

In [345]:
numbers.product(skipna = False) #결측값 포함.

nan

In [346]:
numbers.product(min_count = 3)

120.0

In [347]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [348]:
numbers.cumsum() #누적합계를 값으로 가지는 새 Series를 반환.

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [349]:
numbers.cumsum(skipna = False) #nan 이전까지 누적값을 나열하고 나머지 값에 대해 nan 나열.

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [350]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [351]:
numbers.pct_change() #한 Series 값에서 다음 값까지의 변동 비율을 반환.
# 현제 인덱스 값에서 이전 인덱스 값을 뺀다음 결과를 이전 인덱스 값으로 나눈다.

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [352]:
#아래 세 줄은 결과가 동일하다.
numbers.pct_change()
numbers.pct_change(fill_method = "pad")
numbers.pct_change(fill_method = "ffill")

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [353]:
# 다음 두 줄은 결과가 동일합니다.
numbers.pct_change(fill_method = "bfill")
numbers.pct_change(fill_method = "backfill")

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.000000
5    0.250000
dtype: float64

In [354]:
numbers.mean() #Series 값의 평균 반환.

3.0

In [355]:
numbers.median() #정렬된 Series 값에서 가운데 숫자 반환.

3.0

In [356]:
numbers.std() # 표준편차 반환

1.5811388300841898

In [357]:
numbers.max()

5.0

In [358]:
numbers.min()

1.0

In [359]:
animals = pd.Series(["koala", "aardvark", "zebra"])
animals

0       koala
1    aardvark
2       zebra
dtype: object

In [360]:
animals.max()

'zebra'

In [361]:
animals.min()

'aardvark'

In [362]:
numbers.describe() #개수, 평균, 표준편차를 포함한 통계 평과 반환.

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [363]:
numbers.sample(3) # Series 안에서 임의의 값을 선택(NaN 제외), NaN이 존재하면 소수점을 반환.

5    5.0
3    NaN
0    1.0
dtype: float64

In [364]:
authors = pd.Series(
    ["Hemingway", "Orwell", "Dostoevsky", "Fitzgerald", "Orwell"])

In [365]:
authors.unique() #중복값을 제외하고 반환.

array(['Hemingway', 'Orwell', 'Dostoevsky', 'Fitzgerald'], dtype=object)

In [366]:
authors.nunique() #고유값의 개수를 반환.

4

2.5.2 산술 연산.

In [367]:
s1 = pd.Series(data = [5, np.nan, 15], index = ["A", "B", "C"])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [368]:
s1 + 3

A     8.0
B     NaN
C    18.0
dtype: float64

In [369]:
s1.add(3)

A     8.0
B     NaN
C    18.0
dtype: float64

In [370]:
s1 - 5

A     0.0
B     NaN
C    10.0
dtype: float64

In [371]:
s1.sub(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [372]:
s1.subtract(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [373]:
s1*2

A    10.0
B     NaN
C    30.0
dtype: float64

In [374]:
s1.mul(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [375]:
s1/2

A    2.5
B    NaN
C    7.5
dtype: float64

In [376]:
s1.div(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [377]:
s1//4

A    1.0
B    NaN
C    3.0
dtype: float64

In [378]:
s1.floordiv

<bound method flex_method_SERIES.<locals>.flex_wrapper of A     5.0
B     NaN
C    15.0
dtype: float64>

In [379]:
s1.floordiv(4)

A    1.0
B    NaN
C    3.0
dtype: float64

In [380]:
s1%3

A    2.0
B    NaN
C    0.0
dtype: float64

In [381]:
s1.mod(3)

A    2.0
B    NaN
C    0.0
dtype: float64

2.5.3 브로드캐스팅

In [382]:
s1 = pd.Series([1, 2, 3], index = ['A', 'B', 'C'])
s2 = pd.Series([4,5,6], index = ['A', 'B', 'C'])

In [383]:
s1+s2

A    5
B    7
C    9
dtype: int64

In [384]:
s1 = pd.Series(data = [3, 6, np.nan, 12])
s2 = pd.Series(data = [2, 6, np.nan, 12])

In [385]:
s1 == s2

0    False
1     True
2    False
3     True
dtype: bool

In [386]:
s1.eq(s2)

0    False
1     True
2    False
3     True
dtype: bool

In [387]:
s1 != s2

0     True
1    False
2     True
3    False
dtype: bool

In [388]:
s1.ne(s2)

0     True
1    False
2     True
3    False
dtype: bool

In [389]:
s1 =pd.Series(
    data = [5, 10, 15], index = ["A", "B", "C"])

In [390]:
s2 = pd.Series(
    data = [4, 8, 12, 14], index = ["B", "C", "D", "E"]) #91Page

In [391]:
s1+s2 #판다스는 두 Series에서 공유 인덱스 레이블을 나란히 놓고 필요한 경우 NaN을 넣어 데이터를 나열.

A     NaN
B    14.0
C    23.0
D     NaN
E     NaN
dtype: float64

2.6 Series를 파이썬의 내장 함수에 전달

In [392]:
cities = pd.Series(
    data = ["San Francisco", "Los Angeles", "Las Vegas", np.nan])

In [393]:
len(cities)

4

In [394]:
type(cities)

pandas.core.series.Series

In [395]:
dir(cities) #객체의 속성과 메서드를 문자열로 리스트에 담아 반환.

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [396]:
list(cities)

['San Francisco', 'Los Angeles', 'Las Vegas', nan]

In [397]:
dict(cities)

{0: 'San Francisco', 1: 'Los Angeles', 2: 'Las Vegas', 3: nan}

In [398]:
cities

0    San Francisco
1      Los Angeles
2        Las Vegas
3              NaN
dtype: object

In [399]:
"Las Vegas" in cities

False

In [400]:
2 in cities

True

In [401]:
"Las Vegas" in cities.values

True

In [402]:
100 not in cities

True

In [403]:
"Paris" not in cities.values

True

# 2.7 코딩 챌린지

In [404]:
superheroes = [
    "Batman",
    "Superman", 
    "Spider-Man",
    "Iron Man",
    "Captain America",
    "Wonder Woman"]

In [405]:
strength_levels = (100, 120, 90, 95, 110, 120)

1. 슈퍼 히어로 리스트를 사용하여 새 Series 객체의 값을 채우세요.

In [406]:
pd.Series(superheroes)

0             Batman
1           Superman
2         Spider-Man
3           Iron Man
4    Captain America
5       Wonder Woman
dtype: object

2. 능력치 튜플을 사용하여 새 Series 객체의 값을 채우세요.

In [ ]:
pd.Series(strength_levels)

In [ ]:
3. 슈퍼 히어로 리스트를 인덱스, 능력치 튜플을 값으로 사용하여 새 Series를 생성하세요. heroes 변수에 Series를 할당하세요.

In [ ]:
heroes = pd.Series(index = superheroes, data = strength_levels)

4. heroes Series의 처음 2개 행을 추출하세요.

In [ ]:
heroes.head(2)

5. heroes Series의 마지막 4개 행을 추출하세요.

In [ ]:
heroes.tail(4)

6. heroes Series에 있는 고유한 값의 개수를 구하세요.

In [ ]:
heroes.size

7. heroes Series에 있는 슈퍼 히어로의 평균 능력치를 구하세요.

In [ ]:
heroes.mean()

7. heroes Series에 있는 슈퍼 히어로의 최소/최대 능력치를 구하세요.

In [ ]:
max(heroes), min(heroes)

8. 능력치가 2배가 되면 각 슈퍼 히어로의 능력치는 얼마인지 구하세요.

In [ ]:
heroes*2

9. heroes Series를 파이썬 딕셔너리로 변환하세요.

In [ ]:
dict(heroes)