Unit 3 Series 메서드

3.1. read_csv 함수로 데이터셋 가져오기

In [2]:
import pandas as pd

In [3]:
file = '../DATA/pokemon.csv'

In [4]:
# 다음 두 줄은 결과가 동일합니다.

In [5]:
pd.read_csv(filepath_or_buffer = file)

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

In [6]:
pd.read_csv(file)

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

In [7]:
pd.read_csv(file, index_col="Pokemon") #열이름이었던 'Pokemon'을 인덱스로 사용.

                       Type
Pokemon
Bulbasaur    Grass / Poison
Ivysaur      Grass / Poison
Venusaur     Grass / Poison
Charmander             Fire
Charmeleon             Fire
...                     ...
Stakataka      Rock / Steel
Blacephalon    Fire / Ghost
Zeraora            Electric
Meltan                Steel
Melmetal              Steel

[809 rows x 1 columns]

In [8]:
pokemon = pd.read_csv(file, index_col="Pokemon").squeeze() #포켓몬 이름을 인덱스로 설정.

In [9]:
pokemon

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

In [10]:
file2 = '../DATA/google_stocks.csv'
pd.read_csv(file2).head()

         Date  Close
0  2004-08-19  49.98
1  2004-08-20  53.95
2  2004-08-23  54.50
3  2004-08-24  52.24
4  2004-08-25  52.80

In [11]:
pd.read_csv(file2, parse_dates=["Date"]).head()

        Date  Close
0 2004-08-19  49.98
1 2004-08-20  53.95
2 2004-08-23  54.50
3 2004-08-24  52.24
4 2004-08-25  52.80

In [12]:
pd.read_csv(file2, parse_dates=['Date'], index_col='Date').squeeze().head()
# goole_stock.csv에서 'Date'를 YYYY-MM-DD 형식으로 변환 후 인덱스로 삼는다. 시리즈로 변환하고 5줄만 출력한다.

Date
2004-08-19    49.98
2004-08-20    53.95
2004-08-23    54.50
2004-08-24    52.24
2004-08-25    52.80
Name: Close, dtype: float64

In [13]:
google = pd.read_csv(file2, parse_dates=['Date'], index_col='Date').squeeze()

In [14]:
file3 = '../DATA/revolutionary_war.csv'
pd.read_csv(file3).tail() #파일을 읽어와서 밑에서 5개만 출력.

                         Battle  Start Date     State
227         Siege of Fort Henry   9/11/1782  Virginia
228  Grand Assault on Gibraltar   9/13/1782       NaN
229   Action of 18 October 1782  10/18/1782       NaN
230   Action of 6 December 1782   12/6/1782       NaN
231   Action of 22 January 1783   1/22/1783  Virginia

In [15]:
pd.read_csv(file3, parse_dates=['Start Date'], index_col='Start Date').squeeze().tail()

                                Battle     State
Start Date
1782-09-11         Siege of Fort Henry  Virginia
1782-09-13  Grand Assault on Gibraltar       NaN
1782-10-18   Action of 18 October 1782       NaN
1782-12-06   Action of 6 December 1782       NaN
1783-01-22   Action of 22 January 1783  Virginia

In [16]:
battle = pd.read_csv(file3, parse_dates=["Start Date"], index_col='Start Date', usecols=['State', 'Start Date']).squeeze()

In [17]:
battle

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

3.2 Series 정렬

3.2.1 sort_values 메서드를 사용하여 값 기준으로 정렬

In [18]:
google.sort_values() #기본적으로 오름차순으로 정렬.

Date
2004-09-03      49.82
2004-09-01      49.94
2004-08-19      49.98
2004-09-02      50.57
2004-09-07      50.60
               ...
2019-04-23    1264.55
2019-10-25    1265.13
2018-07-26    1268.33
2019-04-26    1272.18
2019-04-29    1287.58
Name: Close, Length: 3824, dtype: float64

In [19]:
pokemon.sort_values() #기본적으로 오름차순으로 정렬.

Pokemon
Illumise                Bug
Silcoon                 Bug
Pinsir                  Bug
Burmy                   Bug
Wurmple                 Bug
                  ...
Tirtouga       Water / Rock
Relicanth      Water / Rock
Corsola        Water / Rock
Carracosta     Water / Rock
Empoleon      Water / Steel
Name: Type, Length: 809, dtype: object

In [20]:
pd.Series(data=['Adam', 'adam', 'Ben']).sort_values() #시리즈 데이터에서 사용하면 대문자 A부터 소문자z 순으로 정렬.

0    Adam
2     Ben
1    adam
dtype: object

In [21]:
google.sort_values(ascending = False).head() # 내림차순으로 정렬

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

In [22]:
pokemon.sort_values(ascending=False).head()

Pokemon
Empoleon      Water / Steel
Corsola        Water / Rock
Relicanth      Water / Rock
Carracosta     Water / Rock
Tirtouga       Water / Rock
Name: Type, dtype: object

In [23]:
# 다음 두 줄은 결과가 동일합니다.

In [24]:
battle.sort_values()
battle.sort_values(na_position="last") 
#na_position --> 시리즈에서 NaN 값을 어디에 배치할지 결정.
#기본인수로 'last'를 가진다. --> 마지막에 배치

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1782-08-08            NaN
1782-08-25            NaN
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
Name: State, Length: 232, dtype: object

In [25]:
battle.sort_values(na_position="first") #맨앞에 전달.

Start Date
1775-09-17         NaN
1775-12-31         NaN
1776-03-03         NaN
1776-03-25         NaN
1776-05-18         NaN
                ...
1781-07-06    Virginia
1781-07-01    Virginia
1781-06-26    Virginia
1781-04-25    Virginia
1783-01-22    Virginia
Name: State, Length: 232, dtype: object

In [26]:
battle.dropna().sort_values() #.dropna()는 battle에서 70개의 NaN값 삭제.

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1781-07-06       Virginia
1781-07-01       Virginia
1781-06-26       Virginia
1781-04-25       Virginia
1783-01-22       Virginia
Name: State, Length: 162, dtype: object

3.2.2 sort_index 메서드를 사용하여 인덱스 기준으로 정렬

In [27]:
#다음 두 줄은 결과가 동일합니다.
pokemon.sort_index() #인덱스를 기준으로 정렬.
pokemon.sort_index(ascending=True) #기본값.

Pokemon
Abomasnow        Grass / Ice
Abra                 Psychic
Absol                   Dark
Accelgor                 Bug
Aegislash      Steel / Ghost
                  ...
Zoroark                 Dark
Zorua                   Dark
Zubat        Poison / Flying
Zweilous       Dark / Dragon
Zygarde      Dragon / Ground
Name: Type, Length: 809, dtype: object

In [28]:
battle.sort_index() #NaT : 시간이 아님을 나타내는 not a time의 준말. 인덱스의 날짜/시간유형으로 데이터의 무결성을 유지합니다.

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1783-01-22         Virginia
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
Name: State, Length: 232, dtype: object

In [29]:
battle.sort_index(na_position = "first").head() #NaN을 맨앞에 배치.

Start Date
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
1774-09-01    Massachusetts
Name: State, dtype: object

In [30]:
battle.sort_index(ascending= False).head() #내림차순

Start Date
1783-01-22    Virginia
1782-12-06         NaN
1782-10-18         NaN
1782-09-13         NaN
1782-09-11    Virginia
Name: State, dtype: object

3.2.3. nsmallest와 nlargest 메서드를 사용하여 가장 작은 값과 가장 큰 값 검색

In [31]:
google.sort_values(ascending=False).head() #3내림차순으로 정렬한 다음 5개 출력.

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

In [32]:
google.nlargest(n=5) #가장 큰 값 반환! 반환할 값 개수 설정. 
google.nlargest() #반환된 시리즈에서 값을 내림차순으로 정렬. #기본값이 5개.

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

In [33]:
google.nsmallest(n=5) #가장 작은 값 반환! 반환할 값 개수 설정.
google.nsmallest() #반환된 시리즈에서 값을 오름차순으로 정렬. #기본값이 5개

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
Name: Close, dtype: float64

In [34]:
# nsmallest, nlargest함수는 문자열 series에서 사용할 수 없다.

3.3 inplace 매개변수로 Series 덮어쓰기

In [35]:
#battle = battle.sort_values(inplace=True)
battle = battle.sort_values()
battle.head(3)

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
Name: State, dtype: object

3.4.value_counts 메서드로 값 계산하기.

In [36]:
pokemon.head()

Pokemon
Bulbasaur     Grass / Poison
Ivysaur       Grass / Poison
Venusaur      Grass / Poison
Charmander              Fire
Charmeleon              Fire
Name: Type, dtype: object

In [37]:
pokemon.value_counts() #새 객체 반환. / 각 Series 값의 발생 횟수를 계산!

Type
Normal                65
Water                 61
Grass                 38
Psychic               35
Fire                  30
                      ..
Fire / Psychic         1
Normal / Ground        1
Psychic / Fighting     1
Dark / Ghost           1
Fire / Ghost           1
Name: count, Length: 159, dtype: int64

In [38]:
len(pokemon.value_counts()) #길이 = pokemon Series의 고유값 수와 같다.

159

In [39]:
pokemon.nunique() #중복되지 않는 값을 구하는 메서드

159

In [40]:
pokemon.value_counts(ascending=True)

Type
Fire / Ghost         1
Fighting / Dark      1
Fighting / Steel     1
Normal / Ground      1
Fire / Psychic       1
                    ..
Fire                30
Psychic             35
Grass               38
Water               61
Normal              65
Name: count, Length: 159, dtype: int64

In [43]:
pokemon.value_counts(normalize=True).head() #value 값 계산. normalize : 각각의 값이 전체의 몇퍼센트인가.

Type
Normal     0.080346
Water      0.075402
Grass      0.046972
Psychic    0.043263
Fire       0.037083
Name: proportion, dtype: float64

In [44]:
pokemon.value_counts(normalize=True).head()*100

Type
Normal     8.034611
Water      7.540173
Grass      4.697157
Psychic    4.326329
Fire       3.708282
Name: proportion, dtype: float64

In [45]:
(pokemon.value_counts(normalize=True).head()*100).round(2) #각 값에 100을 곱한 다음 결과 Series에서 round를 호출.

Type
Normal     8.03
Water      7.54
Grass      4.70
Psychic    4.33
Fire       3.71
Name: proportion, dtype: float64

In [46]:
google.value_counts().head()

Close
287.68    3
194.27    3
307.10    3
288.92    3
290.41    3
Name: count, dtype: int64

In [47]:
google.max()

1287.58

In [48]:
google.min()

49.82

In [50]:
buckets = [0, 200, 400, 600, 800, 1000, 1200, 1400] #주가를 0에서 시작하여 1400까지 200개의 버킷으로 크룹화.
google.value_counts(bins = buckets) #데이터를 buckets 구간으로 분리. 원소를 두개씩 구간으로 삼음.

Close
(200.0, 400.0]      1568
(-0.001, 200.0]      595
(400.0, 600.0]       575
(1000.0, 1200.0]     406
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1200.0, 1400.0]      93
Name: count, dtype: int64

In [52]:
google.value_counts(bins = buckets).sort_index()

Close
(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: count, dtype: int64

In [53]:
google.value_counts(bins = buckets, sort =False)

Close
(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: count, dtype: int64

In [54]:
google.value_counts(bins = 6, sort =False)

Close
(48.581, 256.113]      1204
(256.113, 462.407]     1104
(462.407, 668.7]        507
(668.7, 874.993]        380
(874.993, 1081.287]     292
(1081.287, 1287.58]     337
Name: count, dtype: int64

In [57]:
#battle.value_count().head()

In [58]:
battle.index

DatetimeIndex(['1781-09-06', '1779-07-05', '1777-04-27', '1777-09-03',
               '1777-05-17', '1779-09-10', '1779-09-07', '1780-03-02',
               '1778-06-30', '1781-01-07',
               ...
               '1782-05-06', '1782-05-25', '1782-05-28', '1782-07-01',
               '1782-07-06', '1782-08-08', '1782-08-25', '1782-09-13',
               '1782-10-18', '1782-12-06'],
              dtype='datetime64[ns]', name='Start Date', length=232, freq=None)

In [60]:
#battle.index.values_count()

AttributeError: 'DatetimeIndex' object has no attribute 'values_count'

3.5 apply 메서드를 사용하여 모든 Series 값에 대한 함수 호출

In [64]:
funcs = [len, max, min]

In [65]:
for current_func in funcs : 
    print(current_func(google))

3824
1287.58
49.82

In [67]:
round(99.2) #반올림

99

In [69]:
round(99.49)

99

In [68]:
round(99.5)

100

In [70]:
google.apply(func = round)

Date
2004-08-19      50
2004-08-20      54
2004-08-23      54
2004-08-24      52
2004-08-25      53
              ...
2019-10-21    1246
2019-10-22    1243
2019-10-23    1259
2019-10-24    1261
2019-10-25    1265
Name: Close, Length: 3824, dtype: int64

In [77]:
def single_or_multi(pokemon_type) : 
    if "/" in pokemon_type : 
        return "Multi"

    return "Single"
pokemon.head(4)

Pokemon
Bulbasaur     Grass / Poison
Ivysaur       Grass / Poison
Venusaur      Grass / Poison
Charmander              Fire
Name: Type, dtype: object

In [78]:
pokemon.apply(single_or_multi)

Pokemon
Bulbasaur       Multi
Ivysaur         Multi
Venusaur        Multi
Charmander     Single
Charmeleon     Single
                ...
Stakataka       Multi
Blacephalon     Multi
Zeraora        Single
Meltan         Single
Melmetal       Single
Name: Type, Length: 809, dtype: object

In [79]:
#pokemon.apply(single_or_multi).value_count()

AttributeError: 'Series' object has no attribute 'value_count'