# 5.6 코딩 챌린지

[자료] :
- 동영상 스트리밍 서비스 넷플릭스에서 2019년 11월에 제공한 약 6천개의 콘텐츠 정보를 담은 데이터 셋.
- 콘텐츠 제목/감독/등록날짜/ 콘텐츠 유행 및 카테고리를 나타내는 4개의 열 존재.
- 결측값 有

1. 제한된 메모리 사용량과 사용성을 최대화하기 위해 데이터셋을 최적화하세요.
2. 제목이 'limitless'인 모든 콘텐츠를 찾으세요.
3. 'Robert Rodriguez' 감독이 제작하고 유형이 'Movie'인 모든 콘텐츠를 찾으세요.
4. 등록된 날짜가 '2019-07-31'이거나 감독이 'Robert Altman'인 모든 콘텐츠를 찾으세요.
5. 감독이 'Orson Welles', 'Aditya Kripalani' 또는 'Sam Raimi'인 모든 콘텐츠를 찾으세요.
6. 2019년 5월 1일과 2019년 6월 1일 사이에 등록된 모든 콘텐츠를 찾으세요.
7. director 열에서 NaN 값이 있는 모든 행을 삭제하세요.
8. 넷플릭스가 콘텐츠를 단 하나만 등록한 날짜를 식별하세요.

(1) 모듈로딩<hr>

In [123]:
import pandas as pd

(2) 데이터 준비 <hr>

In [124]:
file = '../DATA/netflix.csv'

(3) 데이터 저장 <hr>

In [125]:
netDF=pd.read_csv(file)

In [126]:
netDF

                      title        director date_added     type
0               Alias Grace             NaN   3-Nov-17  TV Show
1            A Patch of Fog  Michael Lennox  15-Apr-17    Movie
2                  Lunatics             NaN  19-Apr-19  TV Show
3                 Uriyadi 2     Vijay Kumar   2-Aug-19    Movie
4         Shrek the Musical     Jason Moore  29-Dec-13    Movie
...                     ...             ...        ...      ...
5832            The Pursuit     John Papola   7-Aug-19    Movie
5833       Hurricane Bianca   Matt Kugelman   1-Jan-17    Movie
5834           Amar's Hands  Khaled Youssef  26-Apr-19    Movie
5835  Bill Nye: Science Guy  Jason Sussberg  25-Apr-18    Movie
5836           Age of Glory             NaN        NaN  TV Show

[5837 rows x 4 columns]

1. 제한된 메모리 사용량과 사용성을 최대화하기 위해 데이터셋을 최적화하세요.

In [127]:
netDF=pd.read_csv(file, parse_dates=['date_added']) #날짜를 YYYY-MM-DD 형식으로 변환!

C:\Users\KDP-024\AppData\Local\Temp\ipykernel_1396\2553845270.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  netDF=pd.read_csv(file, parse_dates=['date_added']) #날짜를 YYYY-MM-DD 형식으로 변환!

(4) 데이터 확인 <hr>

In [128]:
netDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5837 entries, 0 to 5836
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       5837 non-null   object
 1   director    3936 non-null   object
 2   date_added  5195 non-null   datetime64[ns]
 3   type        5837 non-null   object
dtypes: datetime64[ns](1), object(3)
memory usage: 182.5+ KB

In [129]:
netDF.shape

(5837, 4)

In [130]:
# 결측값을 상수 값으로 대체
#netDF = netDF[['title', 'director', 'date_added', 'type']].fillna(0)

In [131]:
netDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5837 entries, 0 to 5836
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       5837 non-null   object
 1   director    3936 non-null   object
 2   date_added  5195 non-null   datetime64[ns]
 3   type        5837 non-null   object
dtypes: datetime64[ns](1), object(3)
memory usage: 182.5+ KB

In [132]:
# type을 카테고리화.
netDF['type'] = netDF['type'].astype("category")

In [133]:
netDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5837 entries, 0 to 5836
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       5837 non-null   object
 1   director    3936 non-null   object
 2   date_added  5195 non-null   datetime64[ns]
 3   type        5837 non-null   category
dtypes: category(1), datetime64[ns](1), object(2)
memory usage: 142.8+ KB

2. 제목이 'limitless'인 모든 콘텐츠를 찾으세요.

In [134]:
limit = (netDF["title"] =="Limitless")
netDF[limit]

          title         director date_added     type
1559  Limitless      Neil Burger 2019-05-16    Movie
2564  Limitless              NaN 2016-07-01  TV Show
4579  Limitless  Vrinda Samartha 2019-10-01    Movie

3. 'Robert Rodriguez' 감독이 제작하고 유형이 'Movie'인 모든 콘텐츠를 찾으세요.

In [135]:
ditype = (netDF['director'] == 'Robert Rodriguez') & (netDF['type'] == 'Movie')

In [136]:
netDF[ditype]

,title,director,date_added,type
1384,Spy Kids: All the Time in the World,Robert Rodriguez,2019-02-19,Movie
1416,Spy Kids 3: Game Over,Robert Rodriguez,2019-04-01,Movie
1460,Spy Kids 2: The Island of Lost Dreams,Robert Rodriguez,2019-03-08,Movie
2890,Sin City,Robert Rodriguez,2019-10-01,Movie
3836,Shorts,Robert Rodriguez,2019-07-01,Movie
3883,Spy Kids,Robert Rodriguez,2019-04-01,Movie

4. 등록된 날짜가 '2019-07-31'이거나 감독이 'Robert Altman'인 모든 콘텐츠를 찾으세요.

In [137]:
direc = (netDF['director']=='Robert Altman')
date = (netDF['date_added']=='2019-07-31')

In [138]:
netDF[direc|date]

                                title       director date_added     type
611                            Popeye  Robert Altman 2019-11-24    Movie
1028        The Red Sea Diving Resort    Gideon Raff 2019-07-31    Movie
1092                     Gosford Park  Robert Altman 2019-11-01    Movie
3473  Bangkok Love Stories: Innocence            NaN 2019-07-31  TV Show
5117                       Ramen Shop      Eric Khoo 2019-07-31    Movie

5. 감독이 'Orson Welles', 'Aditya Kripalani' 또는 'Sam Raimi'인 모든 콘텐츠를 찾으세요.

In [141]:
dir = (netDF['director'] == 'Orson Welles') | (netDF['director'] == 'Aditya Kripalani') |(netDF['director'] == 'Sam Raimi')

In [142]:
netDF[dir]

                           title          director date_added   type
946                 The Stranger      Orson Welles 2018-07-19  Movie
1870                    The Gift         Sam Raimi 2019-11-20  Movie
3706                Spider-Man 3         Sam Raimi 2019-11-01  Movie
4243        Tikli and Laxmi Bomb  Aditya Kripalani 2018-08-01  Movie
4475  The Other Side of the Wind      Orson Welles 2018-11-02  Movie
5115    Tottaa Pataaka Item Maal  Aditya Kripalani 2019-06-25  Movie

6. 2019년 5월 1일과 2019년 6월 1일 사이에 등록된 모든 콘텐츠를 찾으세요.

In [143]:
date = netDF['date_added'].between('2019-05-01', '2019-06-01')

In [144]:
netDF[date]

,title,director,date_added,type
29,Chopsticks,Sachin Yardi,2019-05-31,Movie
60,Away From Home,NaN,2019-05-08,TV Show
82,III Smoking Barrels,Sanjib Dey,2019-06-01,Movie
108,Jailbirds,NaN,2019-05-10,TV Show
124,Pegasus,Han Han,2019-05-31,Movie
...,...,...,...,...
5671,Satan & Adam,V. Scott Balcerek,2019-06-01,Movie
5675,Rim of the World,McG,2019-05-24,Movie
5677,Malibu Rescue,Savage Steve Holland,2019-05-13,Movie
5739,Mission Istaanbul: Darr Ke Aagey Jeet Hai,Apoorva Lakhia,2019-05-16,Movie
5829,The Kindness Diaries,NaN,2019-05-01,TV Show

7. director 열에서 NaN 값이 있는 모든 행을 삭제하세요.

In [146]:
netDF.dropna(subset=['director'])

                                   title        director date_added   type
1                         A Patch of Fog  Michael Lennox 2017-04-15  Movie
3                              Uriyadi 2     Vijay Kumar 2019-08-02  Movie
4                      Shrek the Musical     Jason Moore 2013-12-29  Movie
5                       Schubert In Love     Lars Büchel 2018-03-01  Movie
6     We Have Always Lived in the Castle   Stacie Passon 2019-09-14  Movie
...                                  ...             ...        ...    ...
5830                         Bibi & Tina     Detlev Buck 2017-04-15  Movie
5832                         The Pursuit     John Papola 2019-08-07  Movie
5833                    Hurricane Bianca   Matt Kugelman 2017-01-01  Movie
5834                        Amar's Hands  Khaled Youssef 2019-04-26  Movie
5835               Bill Nye: Science Guy  Jason Sussberg 2018-04-25  Movie

[3936 rows x 4 columns]

8. 넷플릭스가 콘텐츠를 단 하나만 등록한 날짜를 식별하세요.

In [150]:
netDF.drop_duplicates(subset = ['date_added'], keep = False) #★ 좀 헷갈림.
# drop_duplicates는 주어진 열을 기반으로 중복 여부를 확인. keep = False이면 중복값이 있는 행을 모두 삭제.

,title,director,date_added,type
4,Shrek the Musical,Jason Moore,2013-12-29,Movie
12,Without Gorky,Cosima Spender,2017-05-31,Movie
30,Anjelah Johnson: Not Fancy,Jay Karas,2015-10-02,Movie
38,One Last Thing,Tim Rouhana,2019-08-25,Movie
70,Marvel's Iron Man & Hulk: Heroes United,Leo Riley,2014-02-16,Movie
...,...,...,...,...
5748,Menorca,John Barnard,2017-08-27,Movie
5749,Green Room,Jeremy Saulnier,2018-11-12,Movie
5788,Chris Brown: Welcome to My Life,Andrew Sandler,2017-10-07,Movie
5789,A Very Murray Christmas,Sofia Coppola,2015-12-04,Movie
5812,Little Singham in London,Prakash Satam,2019-04-22,Movie