## [ HTML ==> DataFrame으로 저장 ]

(1) 모듈 로딩 <hr>

In [1]:
import pandas as pd

(2) 데이터 준비 <hr>

In [11]:
file = '../DATA/test.html'

(3) HTML => DataFrame 저장

In [12]:
df = pd.read_html(file, encoding = 'utf-8')
df

[    0      1   2
 0  번호     이름  전공
 1   1    홍길동  의적
 2   2    마징가  로봇
 3   4    베트맨  박쥐
 4   5  스파이더맨  거미,
      0     1   2
 0  과일명    가격  수량
 1   사과  1000  32
 2  바나나  3000  10
 3   수박  5800   2]

In [13]:
pip install lxml

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in c:\programdata\anaconda3\envs\my_38\lib\site-packages (4.9.3)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import lxml

In [15]:
type(df) #두 DF을 리스트로 묶어놓았음.

list

In [20]:
type(df[0]) #타입 : 데이터프레임 DF

pandas.core.frame.DataFrame

In [18]:
df[1]

     0     1   2
0  과일명    가격  수량
1   사과  1000  32
2  바나나  3000  10
3   수박  5800   2